rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == "younesbouqoro@gmail.com";
    }

    match /tours/{id} {
      allow read: if resource.data.published == true || isAdmin();
      allow create, update, delete: if isAdmin();
    }

    match /milestones/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /challenges/{id} {
      allow read: if resource.data.published == true || isAdmin();
      allow create, update, delete: if isAdmin();
    }

    match /site/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /galleryItems/{id} {
      allow read: if resource.data.published == true || isAdmin();
      allow create, update, delete: if isAdmin();
    }
  }
}
